<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Intro SE331</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <!-- 2.3 -->
        <!-- <h1>Product goes here</h1> -->
        <!-- <h1>{{product}}</h1> -->
        <!-- 2.3 -->

        <!-- 2.5 -->
        <!-- <p>{{description}}</p> -->
        <!-- 2.5 -->

        <!-- 3.1 -->
        <div class="nav-bar"></div>
        <!-- 6.2 -->
        <div class="cart"> Cart({{ cart}})</div>
        <!-- 6.2 -->
        <div class="product-display">
            <div class="product-container">
                <div class="product-image">
                    <!-- image goes here -->
                    <!-- 3.3 -3.5 -->
                    <!-- <img src="image"> -->
                    <!-- <img v-bind:src="image"> -->
                    <img :src="image">
                    <!-- 3.3 -3.5 -->
                </div>
                <div class="product-info">
                    <h1><a :href="link">{{product}}</a></h1>
                    <!-- 4.1 -->
                    <!-- <p>In Stock</p>
                    <p>Out of Stock</p> -->
                    <!-- 4.1 -->

                    <!-- 4.3 -->
                    <p v-if="inStock">In Stock</p>
                    <!-- <p v-if="inventory>10">In Stock</p>
                    <p v-else-if="inventory <= 10 && inventory >0">In Stock</p> -->
                    <p v-else>Out of Stock</p>
                    <!-- 4.3 -->

                    <!-- 5.2-5.3 -->
                    <ul>
                        <li v-for="detail in details">{{detail}}</li>
                    </ul>
                    <!-- <div v-for="variant in variants" :key="variant.id">{{ variant.color}}</div> -->
                    <!-- 5.2-5.3 -->

                    <!-- 5.9 -->

                    <br>
                    <template v-for="size in sizes">{{size}} &nbsp; </template >
                    
                    
                    <!-- 4.9 -->
                    <p v-if="onSale">On Sale</p>
                    <p v-else>Not On Sale</p>

                     <!-- 6.3 -->
                     <!-- <button class="button" v-on:click="addToCart">Add to Cart</button> -->
                     <!-- 6.3 -->

                    <!-- 6.5 -->
                    <!-- <button class="button" @click="addToCart">Add to Cart</button> -->
                    <!-- 6.5 -->

                    <!-- 6.6 -->
                    <div v-for="variant in variants" :key="variant.id" @mouseover = "updateImage(variant.image)" >{{ variant.color}}</div>
                    <button class="button" @click="addToCart">Add to Cart</button>
                    <!-- 6.6 -->

                    <!-- 6.7 -->
                    <button class="button" @click="checkStock">Current Stock Status</button>
                    <!-- 6.7 -->

                </div>
            </div>
        </div>
        <!-- 3.1 -->


    </div>

    <!-- Import Js -->
    <script src="./main.js"></script>

    <!-- 2.2 -->
    <script>
        const mountedApp = app.mount(' #app ')
    </script>
    <!-- 2.2 -->
</body>

</html>